body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}
.first_container{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.first_input{
    padding: 0px;
    height: 30px;
    width: 400px;
    text-align: center;
    background-color: rgb(48, 198, 248);
    border: solid rgb(80, 78, 78);
}
.second_input{
    padding: 0px;
    height: 30px;
    width: 200px;
    margin-left: -90px;
    text-align: center;
    border: solid rgb(80, 78, 78);
}
.ref_1{
    border: 20px;
}
.anchor_1{
    margin-right: 30px;
}
.main_section{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.smartup_image{
    
}