body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}
.sub_section{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.home{
    border-right: solid black;
    padding-right: 20px;
    border-right-width: 1px;
}
.products{
    
    border-right: solid black;
    padding-right: 20px;
    border-right-width: 1px;
}
.company{
    
    border-right: solid black;
    padding-right: 20px;
    border-right-width: 1px;
}
.second_container{
    text-align: center;
}
.first_input{
    padding: 0px;
    height: 30px;
    width: 400px;
    text-align: center;
    background-color: rgb(48, 198, 248);
    border: solid rgb(80, 78, 78);
    border-width: 1px;
}
.second_input{
    padding: 0px;
    height: 30px;
    width: 400px;
    margin-left: -5px;
    text-align: center;
    border: solid rgb(80, 78, 78);
    border-width: 1px;
}
.drop_down_container{
    text-align: center;
    margin-top: 20px;
    margin-right: 500px;
}
#filling{
    height: 33px;
    border: solid black;
    border-width: 1px;
    width: 250px;
    margin-left: 180px;
}
.others_input{
    border: solid black;
    border-width: 1px;
    width: 250px;
    height: 30px;
    margin-left: -100px;
}
.these_checks{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-right: 200px;
}
#school{
    margin-left: -99px;
}
.working_status{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-top:30px ;
}
.doing_input{
    border: solid black;
    border-width: 1px;
    width: 418px;
    height: 30px;
    margin-left: -200px;
}
.many_checks{
    margin-left: 348px;
}
.scaling{
    text-align: center;
    margin-right: 350px;
}
.button_2{
    margin-left: 953px;
    margin-top: 20px;
}