body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}
.min_section{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.home{
    border-right: solid black;
    padding-right: 20px;
    border-right-width: 1px;
}
.products{
    
    border-right: solid black;
    padding-right: 20px;
    border-right-width: 1px;
}
.company{
    
    border-right: solid black;
    padding-right: 20px;
    border-right-width: 1px;
}
.last_input{
    border: solid black;
    border-width: 1px;
    width: 800px;
    text-align: center;
    height: 40px;
    margin-left: 200px;
}
#last{
    width: 700px;
    height: 30px;
    border: solid black;
    border-width: 1px;
}
.apps_container{
    text-align: center;
    margin-top: 30px;
}